user <%= @user %>;
worker_processes <%= @processorcount %>;

events {
    worker_connections 1024;
}

http {
    include mime.types;
    default_type application/octet-stream;

    sendfile on;
    tcp_nodelay on;
    tcp_nopush on;
    keepalive_timeout 65;

    include conf.d/*.conf;
}
