
Storage {
    Name = "<%= @name %>"
    Address = <%= @homename %>
    Password = "<%= scope.lookupvar('bacula::storage::password_real') %>"
    Device = "<%= @name %>"
    Media Type = <%= @media %>
    TLS Enable = yes
    TLS Require = yes
    TLS Key = /etc/pki/tls/private/bacula.key
    TLS Certificate = /etc/pki/tls/certs/bacula.crt
    TLS CA Certificate File = <%= @puppet_ssldir %>/certs/ca.pem
}

