
/* connect {}: controls servers we connect to (OLD C:, N:, H:, L:) */
connect "ratbox.services" {
	/* the name must go above */

	/* host: the host or IP to connect to.  If a hostname is used it
	 * must match the reverse dns of the server.
	 */
	host = "127.0.0.1";

	/* vhost: the host or IP to bind to for this connection.  If this
	 * is not specified, the default vhost (in serverinfo {}) is used.
	 */
	#vhost = "192.168.0.50";

	/* passwords: the passwords we send (OLD C:) and accept (OLD N:).
	 * The remote server will have these passwords reversed.
	 */
	send_password = "<%= @servpass %>";
	accept_password = "<%= @servpass %>";

	/* port: the port to connect to this server on */
	port = <%= @port %>;

	/* hub mask: the mask of servers that this server may hub. Multiple
	 * entries are permitted
	 */
	hub_mask = "*";

	/* leaf mask: the mask of servers this server may not hub.  Multiple
	 * entries are permitted.  Useful for forbidding EU -> US -> EU routes.
	 */
	#leaf_mask = "*.uk";

	/* class: the class this server is in */
	class = "server";

	/* flags: controls special options for this server
	 * encrypted	- marks the accept_password as being crypt()'d
	 * autoconn	- automatically connect to this server
	 * compressed	- compress traffic via ziplinks
	 * topicburst	- burst topics between servers
	 * ssl		- ssl/tls encrypted server connections
	 */
	flags = compressed, topicburst;
};
